{% extends 'base.html' %}
{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <p>API key: {{ api_key }}</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Main Genre</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for book in list_of_books %}
                <tr>
                    <td class="w-25 text-center">
                        <img class="w-75 thumbnail img-fluid" src="{{ book.cover_url }}" alt='cover'>
                    </td>
                    <th scope="row" class="col-2">
                        <a href="{{ url_for('show_book', id=book.id, book_title=(book.title).replace(' ', '-')) }}">
                            {{ book.title }}
                        </a>
                    </th>
                    <td class="col-2">{{ book.author }}</td>
                    <td class="col-1">{{ book.main_genre }}</td>
                    <td>{{ book.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}