{% extends 'base.html' %}
{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for book in list_of_books %}
{#        <a href="{{ url_for('show_book', book_title=(book.title).replace(' ', '-')) }}">#}
{#            {{ book.title }} - {{ book.author }} - {{ book.main_genre }} - {{ book.description }}#}
        <a href="{{ url_for('show_book', id=book.id, book_title=(book.title).replace(' ', '-')) }}">
            {{ book.title }} - {{ book.author }} - {{ book.main_genre }} - {{ book.description }}
        </a> <br>
    {% endfor %}
{% endblock %}